@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
:root{
    position:relative;
    background-color: #ffd34ed2;
    overflow: hidden;
}
header{
    background-color: #fca535d2;
}

main{
    /*background-color: #ffd34ed2;
    */
    background-color: #fca535d2;
    position: absolute;
}
.carta{
    display: flex;
    width: 100%;
    padding-bottom: 20%;
    
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    padding: 1rem;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    padding: 1rem;
}
.carta img{
justify-content: center;    
margin-left: 2rem;
margin-bottom: 2.2rem;
margin-top: 3rem;

}
#img-hawai{
    max-width: 86%;
    overflow: hidden;
}
.carta-otros{
padding-bottom: 3rem;
}
.carta-otros img{
    width: 99%;
    justify-content: center;    
    margin-left: 2rem;

}
#img-pollo-frito{
    margin-top: -3rem;
    margin-bottom: -3rem;
}
@media screen and (max-width: 575px) {
 
    :root{
        left: 1%;
        right: 0%;
        width: 100%;
        background-color: #fca535d2;
        overflow:scroll;

    }
    body{
      max-width: 100%;
    }
    header{
        max-width: 100%;
    }
    img{
    }
    .logo-tabak{
       max-width: 100%;
        overflow:hidden;
        padding-top: 30%;
        padding-bottom: 35%;
    }
    p{
        margin-left: 5%;
    }
}
li{
    list-style-type: none;
}
i{
    font-size: 4rem;
    position: fixed;
    color: black;
    z-index: 2;

}
.dropdown{
    margin-right: 15%;
display: flex;
position: fixed;
z-index: 3;

}
.dropdown-menu{
    background-color: rgb(255, 189, 47);
    width: 70%;
    height: 8rem;
    border-radius: .1rem;
    font-family: 'Bebas Neue', cursive;
    z-index: 3;

}
.pedidos{
    padding-top: 6rem;
    padding-bottom: 5rem;

}
.btn{
    background-color: #000;
}
main .btn-secondary{
    display: none;
}
.pedidos button{
    display: none;
}
.pedidos .btn-secondary{
    display: flex;
}
.none{
    display: none;
}
.show{
    display: flex;
    z-index: 2;
}
.contenedor-nav{
    display: flex;
}
.navegador{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0%;
    left: 1%;
    background-color: #ff7900;
    border: 1px solid #f77b0e;
    box-shadow:  0px 0px 10px 0px #000;

    width: 90%;
    height: 5rem;
    border-radius: 1rem;
    z-index: 10;
}
.i-a{
    left: 10%;
    bottom: 0.1%;
    font-size: 3rem;

}
.i-b{
    background-color: #ff7900;

    border-radius: 2rem;
    left: 40%;
    bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;
}
.i-c{
    left: 70%;
    font-size: 3rem;

}

.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  /* Button 1 */
  .btn-1 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #2980b9;
  }
  
  .btn-1:active {
    background: #2980b9;
    top: 2px;
  }
  
  .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 2 */
  .btn-2 {
    background: #2ecc71;
    color: #fff;
  }
  
  .btn-2:hover {
    background: #27ae60;
  }
  
  .btn-2:active {
    background: #27ae60;
    top: 2px;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-3 {
    background: #e74c3c;
    color: #fff;
  }
  
  .btn-3:hover {
    background: #c0392b;
  }
  
  .btn-3:active {
    background: #c0392b;
    top: 2px;
  }
  
  .btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-4 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-4:hover {
    background: #2c3e50;
  }
  
  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }
  
  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Icons */
  
  .icon-cart:before {
    content: "\f07a";
  }
  
  .icon-heart:before {
    content: "\f55a";
  }
  
  .icon-info:before {
    content: "\f05a";
  }
  
  .icon-send:before {
    content: "\f1d8";
  }