@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
:root{
    width: 100%;
    background-color: #ffd34ed2;
}
main{
    background-color: #ffd34ed2;
 
}
header{
    background-color: #ffd34ed2;

}
.carta{
    display: flex;
    width: 100%;
    padding-bottom: 20%;
    
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    padding: 1rem;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    padding: 1rem;
}
.carta img{
justify-content: center;    
margin-left: 2rem;
margin-bottom: 2.2rem;
margin-top: 3rem;

}
#img-hawai{
    max-width: 86%;
    overflow: hidden;
}
.carta-otros{
padding-bottom: 3rem;
}
.carta-otros img{
    width: 100%;
    justify-content: center;    
    margin-left: 2rem;

}
#img-pollo-frito{
    margin-top: -3rem;
    margin-bottom: -3rem;
}
@media screen and (max-width: 575px) {
    p{
        margin-left: 5%;
    }
}
li{
    list-style-type: none;
}
i{
    font-size: 4rem;
    position: fixed;
    color: black;
    z-index: 2;

}
.dropdown{
    margin-right: 15%;
display: flex;
position: fixed;
z-index: 3;

}
.dropdown-menu{
    background-color: rgb(255, 189, 47);
    width: 70%;
    height: 8rem;
    border-radius: .1rem;
    font-family: 'Bebas Neue', cursive;
    z-index: 3;

}
.pedidos{
    padding-top: 6rem;
    padding-bottom: 5rem;
}